[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "coopProductGame"]
	path = coopProductGame
	url = https://github.com/cran/coopProductGame
